apiVersion: v1
kind: Service
metadata:
  name: tester
  namespace: {{ .Values.namespace }}
spec:
  type: ClusterIP
  selector:
    app: tester
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
